*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    font-family: Lato;
    font-size: 16px;
    line-height: 28px;
    color: #505050;
}

a{
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

ul{
    list-style: none;
}

.container{
    max-width: 970px;
    padding: 0 15px;
    margin: 0 auto;
}

.title{
    font-family: Georgia;
    font-size: 32px;
    line-height: 38px;
    color: #4E5665; 
}

.menu__list{
    display: flex;
    text-align: center;
    justify-content: center;
}

.menu__list-item{
    padding: 43px 15px 20px;
    color: #909090;
    font-family: 'Lato';
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    margin: 0 6px;
    border-bottom: 4px solid transparent;
    transition: all .5s;
}

.menu__list-item:hover{
    color: #4E5665;
    border-bottom: 4px solid #8C001A;
}

.header__bottom{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding: 75px;
    margin-bottom: 100px;
}

.header__title{
    color: #FFFFFF;
    font-family: Georgia;
    font-weight: bold;
    font-size: 162px;
    line-height: 184px;
    max-width: 550px;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.header__bottom-inner{
    border: 2px solid #8C001A;
    border-bottom: none;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header__text{
    color: #FFF;
    font-family: Georgia;
    font-size: 24px;
    line-height: 27px;
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
    display: flex;
    white-space: nowrap;
    align-items: center;
}

.header__text::after,
.header__text::before{
    content: "";
    border-top: 2px solid #8C001A;
    width: 100%;
}

.header__text::before{
    margin-right: 30px;
}

.header__text::after{
    margin-left: 30px;
}

.vacation__link a{
    font-family: 'Lato';
    font-weight: bold;
    color: #8C001A;
}

.vacation__link{
    display: flex;
    justify-content: center;
}

.vacation__title{
    position: absolute;
    max-width: 390px;
}

.vacation__text{
    position: relative;
    text-align: left;
    display: flex;
    margin-left: auto;
    max-width: 510px;
}


.vacation__statistics{
    margin-top: 140px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.vacation__statistics-number{
    margin-top: 33px;
    font-family: Lato;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #4E5665;
}

.vacation__statistics-text{
    font-family: Lato;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #909090;
}

.vacation__statistics-number--message{
    margin-top: 18px;
}

.vacation__about{
    margin-top: 120px;
}

.vacation__about-title{
    position: absolute;
}

.vacation__about-text{
    position: relative;
    text-align: left;
    max-width: 540px;
    margin-left: auto;
    padding-left: 85px;
}

.vacation__about-link a{
    font-family: 'Lato';
    font-weight: bold;
    color: #8C001A;
}

.vacation__about-link{
    display: flex;
    justify-content: center;
    padding-left: 120px;
}

.about__item{
    background-repeat: no-repeat;
    background-position: right;
    margin: 150px 0 100px;
    padding: 135px 0;
}

.about__box{
    position: relative;
    max-width: 390px;
}

.about__item-title{
    font-family: Georgia;
    font-size: 24px;
    line-height: 25px;
    color: #8C001A;
    padding-bottom: 35px;
}

.about__item:nth-child(even){
    background-position: left;
}

.about__item:nth-child(even) .about__box{
    margin-left: auto;
    text-align: right;
    max-width: 340px;
}

.wine__images-box{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 130px;
}

.wine__dot{
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: rgba(186, 58, 82);
}

.wine__dot::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(140, 0, 26, 1);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.wine__dot-1{
    bottom: 120px;
    left: 370px;
}


.wine__dot-2{
    top: 460px;
    left: 460px;
}

.wine__dot-3{
    bottom: 230px;
    left: 530px;
}

.wine__dot::before{
    content: "";
    background-image: url('../images/line.svg');
    width: 245px;
    height: 122px;
    position: absolute;
    top: -113px;
    left: 25px;
    display: none;
}

.wine__dot-1::before{
    content: "";
    background-image: url('../images/line-2.0.svg');
    width: 245px;
    height: 122px;
    position: absolute;
    display: none;
    top: -115px;
    left: -235px;
}

.wine__dot-text{
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
    color: #505050;
    position: absolute;
    top: -140px;
    left: 150px;
    white-space: nowrap; /* чтобы текст не переносился */
    display: none;
}

.wine__dot-text-1{
    top: -135px;
    left: -230px;
}

.wine__dot:hover::before{
    display: block;
}   

.wine__dot:hover .wine__dot-text{
    display: block;
}

.photos__box{
    display: flex;
    margin-top: 95px;
}

.photos__top-title{
    padding-right: 150px;
    white-space: nowrap;
}

.photos__top-text{
    position: relative;
    max-width: 540px;
    text-align: left;
    justify-content: right;
    margin-bottom: 105px;
}

.photo__slider{
    max-width: 640px;
    margin: 0 auto;
}

.slick-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
}

.slick-right{
    z-index: 5;
    right: -20px;
}

.slick-left{
    z-index: 5;
    left: -20px;
}

.footer__items{
    margin-top: 45px;
    display: flex;
    background-color: #8C001A;
    justify-content: center;
}

.footer__item{
    width: 220px;
    margin-bottom: 85px;
}

.footer__title{
    font-family: 'Lato';
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    margin: 50px 0 17px;
}

.footer__item-link{
    font-family: 'Lato';
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}

.footer__item-link--social{
    padding-left: 28px;
    position: relative;
}

.footer__item-link--social::before{
    content: "";
    position: absolute;
    left: 0;
    width: 16px;
    height: 16px;
}

.footer__item-link--message::before{
    background-image: url(../images/message.svg);
    width: 17px;
    top: 1px;
}
.footer__item-link--facebook::before{
    background-image: url(../images/facebook.svg);
}
.footer__item-link--instagram::before{
    background-image: url(../images/instagram.svg);
}
.footer__item-link--youtube::before{
    background-image: url(../images/youtube.svg);
}
.footer__item-link--email::before{
    background-image: url(../images/email.svg);
    height: 13px;
    top: 2px;
}

@media(max-width:1200px){
    .header__text{
        font-size: 20px;
        padding-top: 17px;
    }
    .header__title{
        font-size: 120px;
        line-height: 150px;
    }
    .about__box{
        background-color: #FFF;
        padding: 10px 20px 0;
        margin: 0 auto;
    }
    .about__item{
        padding: 380px 0 70px;
        background-position: top;
    }
    .about__item:nth-child(even){
        background-position: top;
        margin-top: 0;
    }
    .about__item:nth-child(even) .about__box {
        text-align: left;
        max-width: 390px;
    }
}

@media(max-width:940px){
    .wine__dot-1{
        left: 340px;
    }
    .wine__dot-2{
        left: 440px;
    }
    .wine__dot-3{
        left: 510px;
    }
    .footer__item--company{
        padding-left: 10px;
    }
}

@media(max-width:910px){
    .vacation__link{
        justify-content: flex-end;
        padding-right: 50px;
    }
    .vacation__title{
        position: relative;
    }
    .vacation__text{
        position: relative;
        text-align: left;
        display: block;
        margin-left: 0;
        max-width: 100%;
    }   
    .vacation__about-title{
        position: relative;
    }
    
    .vacation__about-text{
        position: relative;
        text-align: left;
        max-width: 100%;
        margin-left: auto;
        padding-left: 0;
    }
    .vacation__about-link{
        justify-content: flex-end;
        padding-right: 50px;
    }
    .photos__box{
        display: block;
        justify-content: center;
    }
}

@media(max-width:880px){
    .wine__dot{
        display: none;
    }
    .wine__images-box{
        margin-top: 50px;
        height: 90%;
    }
    .slick-btn{
        display: none;
    }
    .footer__items{
        flex-wrap: wrap;
    }
    .footer__item{
        width: 50%;
    }
    .footer__item--company{
        padding-left: 15px;
    }
    .footer__item--connect{
        padding-left: 20px;
    }
}

@media(max-width:730px){
    .menu{
        position: relative;
    }
    .menu__btn{
        display: block;
        width: 40px;
        cursor: pointer;
        position: absolute;
        right: 40px;
        top: 10px;
    }
    .menu__btn span{
        display: block;
        margin-bottom: 10px;
        background-color: #8C001A;
        height: 4px;
    }
    .menu__list{
        display: none;
        padding-top: 60px;
        text-align: center;
        border-bottom: 4px solid #8C001A;
    }
    .menu__list-link{
        display: block;
    }
    .menu__list-link:hover{ 
        border-bottom: 4px solid transparent;
    }
    .footer__items{
        width: 100%;
    }
}

@media(max-height:630px){
    .header__text{
        display: none;
    }
    .header__bottom-inner{
        border-bottom: 2px solid #8C001A;
    }
    .header__title{
        max-width: 480px;
        font-size: 105px;
        line-height: 120px
    }
}

@media(max-width:520px){
    .header__title{
        font-size: 80px;
    }
    .header__text{
        display: none;
    }
    .header__bottom-inner{
        border-bottom: 2px solid #8C001A;
    }
    .about__item{
        width: 100%;
    }
    .about__item-title{
        font-size: 20px;
        line-height: 23px;
    }
}

@media(max-height:510px){
    .header__title{
        max-width: 100%;
        font-size: 90px;
        display: flex;
        margin: auto
    }
}

@media(max-width:420px){
    .vacation__statistics{
        display: block;
    }
    .vacation__statistics-item{
        margin-bottom: 20px;
    }
    .photos__top-title{
        font-size: 30px;
        line-height: 36px;
    }
}

@media(max-height:360px){
    .header__title{
        font-size: 50px;
    }
}

@media(max-width:360px){
    .header__title{
        font-size: 60px;
    }
    body{
        font-size: 14px;
        line-height: 26px;
    }
    .title{
        font-size: 28px;
        line-height: 30px;
    }
}

@media (min-width:730px){
    .menu__list{
        display: flex !important;
    }
}