*,
*::after,
*::before{
    box-sizing: border-box;
}

a{
    color: inherit;
    text-decoration: none;
}

ul{
    list-style: none;
}

@font-face{
    font-family: 'balqis';
    src: url('../fonts/balqis.woff2') format('woff2'),
         url('../fonts/balqis.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'RobotoCondensed-Light';
    src: url('../fonts/RobotoCondensed-Light.woff2') format('woff2'),
         url('../fonts/RobotoCondensed-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'RobotoCondensed-LightItalic';
    src: url('../fonts/RobotoCondensed-LightItalic.woff2') format('woff2'),
         url('../fonts/RobotoCondensed-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face{
    font-family: 'RobotoCondensed-Regular';
    src: url('../fonts/RobotoCondensed-Regular.woff2') format('woff2'),
         url('../fonts/RobotoCondensed-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

.body{
    color: #000000;
    font-family: 'RobotoCondensed-Light';
    font-size: 18px;
    line-height: 21px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.page-section{
    margin: 200px auto;
    max-width: 1920px;
}

.title{
    font-family: 'balqis';
    font-size: 95px;
    line-height: 128px;
    color: #E2AB3F;
    font-weight: 300;
    margin-bottom: 100px;
}

.title span{
    font-family: 'RobotoCondensed-LightItalic';
    font-weight: 200;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    display: block;
    margin-top: -30px;
    
}

.header{
    background-image: url(../images/header-bg.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}

.header__top{
    display: flex;
    justify-content: space-between;
    padding-top: 72px;
    font-size: 24px;
    line-height: 28px;
    font-family: 'RobotoCondensed-Regular';

}

.menu__list-item{
    display: inline-block;

}

.menu__list-item + .menu__list-item{
    margin-left: 52px;
}

.menu__list-link:hover{
    text-decoration: underline;
}

.header__phone{
    padding-left: 40px;
    position: relative;
}

.header__phone::before{
    content: "";
    position: absolute;
    background-image: url(../images/phone-icone.svg);
    width: 30px;
    height: 30px;
    left: 0;
}

.header__title{
    padding-top: 152px;
    text-align: center;
    font-size: 250px;
    font-family: 'balqis';
    line-height: 334px;
    font-weight: 300;
    margin-top: -70px;
}

.header__title span{
    display: block;
    text-align: right;
    font-size: 56px;
    line-height: 66px;
    font-family: 'RobotoCondensed-LightItalic';
    margin-top: -66px;
    margin-right: 80px;
}

.fairy-tail__slider{
    width: 50%;
}

.slick-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
     background-color: transparent;
     border: none;
     outline: none;
}

.slick-prev{
    left: 0;
    z-index: 5;
}

.slick-next{
    right: 0;
    z-index: 5;
}

.fairy-tail__inner{
    position: relative;
}

.fairy-tail__container{
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.fairy-tail__body{
    width: 50%;
    margin-left: auto;
    padding-left: 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.fairy-tail__body-title{
    font-family: 'RobotoCondensed-Regular';
}

.fairy-tail__title span{
    margin-left: 185px;
}

.fairy-tail__text{
    padding: 10px 0;
}

.our-trip__slider{
    width: 50%;
    margin-left: auto;
}

.our-trip__inner{
    position: relative;
}

.our-trip__container{
    max-width: 1230px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.our-trip__title span{
    margin-left: 250px;
}

.our-trip__body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
}

.our-trip__list{
    margin: 5px 0;
    font-size: 24px;
    line-height: 28px;
}

.our-trip__list li:first-child{
    margin-bottom: 20px;
    font-family: 'RobotoCondensed-Regular';
}

.our-trip__btn{
    font-family: 'RobotoCondensed-Light';
    font-size: 24px;
    line-height: 28px;
    border: 1px solid #E2AB3F;
    padding: 11px 53px;
}

.our-trip__content{
    width: 50%;
    padding-right: 55px;
}

.hotel__title span{
    margin-left: 120px;
}

.hotel__inner{
    display: flex;
}

.hotel__images{
    margin-right: 100px;
}

.hotel__text{
    margin-bottom: 20px;
}

.hotel__gallery{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hotel__gallery a{
    margin-top: 50px;
}

.price__inner{
    display: flex;
}

.price__title span{
    margin-left: 120px;
}

.price__on-title,
.price__off-title{
    font-family: 'RobotoCondensed-Regular';
    line-height: 28px;
    margin-bottom: 50px;
    font-size: 24px;
}

.price__on{
    margin-right: 70px;
    width: 530px;
}

.price__list-item{
    margin-bottom: 20px;
}

.price{
    background-image: url(../images/price-bg.png);
    background-repeat: no-repeat;
    background-position: center right 10%;
}

.contacts__inner{
    display: flex;
    justify-content: space-between;
}

.contacts__contant{
    text-align: center;    
    justify-content: space-around;
    display: flex;
    flex-direction: column;
}

.contacts__date,
.contacts__price{
    font-family: 'balqis';
    font-size: 96px;
    line-height: 100px;
    color: #E2AB3F;
    font-weight: 300;
}

.contacts__date span,
.contacts__price span{
    font-family: 'RobotoCondensed-LightItalic';
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    display: block;
    margin-left: 200px;
    margin-top: -10px;
}

.contacts__form-title{
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 50px;
    font-family: 'RobotoCondensed-Regular';
}

.contacts__form-input{
    font-family: 'RobotoCondensed-Light';
    background: #FFFFFF;
    border: 1px solid #E2AB3F;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    display: block;
    padding: 0 31px;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
}

.contacts__form-input::placeholder{
    color: #000000;
}

.contacts__form-btn{
    font-family: 'RobotoCondensed-Light';
    border: 1px solid #E2AB3F;
    background-color: transparent;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    padding: 11px 45px;
    cursor: pointer;
}

.footer{
    background-image: url(../images/footer-bg.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: bottom center;
    padding-top: 96px;
    background-size: cover;
}

.footer__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__text{
    font-family: 'balqis';
    font-size: 86px;
    line-height: 115px;
    margin-bottom: 500px;
}

.footer__contacts{
    width: 356px;
    height: 527px;
    background-image: url(../images/footer-contact-bg.png);
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
}

.footer__contacts-title{
    font-size: 86px;
    line-height: 115px;
    font-family: 'balqis';
    color: #E2AB3F;
    margin-bottom: 50px;
    padding-top: 50px;
}

.footer__phone,
.footer__email{
    display: inline-block;
    padding-left: 40px;
    position: relative;
}

.footer__phone::before,
.footer__email::before{
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0;
    top: -5px;
}

.footer__phone::before{
    background-image: url(../images/footer-phone.svg);
}

.footer__email::before{
    background-image: url(../images/footer-mail.svg);
}

.footer__phone{
    margin-bottom: 20px;
}

.footer__social{
    margin-top: 38px;
}

.footer__social a{
    margin: 0 7px;
}

/* @media  (max-width: 1240px){
    .header__title {
        padding-top: 120px;
        font-size: 180px;
        line-height: 220px;
    }
    .header__title span{
        font-size: 50px;
        margin-top: -50px;
    }
    .our-trip__title{
        margin-left: 15px;
    }
    .hotel__gallery{
        justify-content: center;
    }
    .contacts__images{
        width: 50%;
    }
    .footer__contacts{
        margin-top: -90px;
    }
}

@media  (max-width: 991px){
    .page-section{
        margin: 100px 0;
    }
    .fairy-tail__container{
        position: static;
    }
    .fairy-tail__slider{
        width: 100%;
    }
    .fairy-tail__body {
        width: 100%;
        padding-left: 0;
    }
    .our-trip__content{
        padding-right: 10px;
    }
    .our-trip__slider{
        width: 60%;
    }
    .hotel__images{
        margin-right: 50px;
    }
    .contacts__form-input{
        width: 80%;
    }
    .footer__text {
        font-size: 65px;
    }    
}

@media  (max-width: 840px){
    .header__title {
        padding-top: 100px;
        font-size: 120px;
        line-height: 150px;
    }
    .header__title span{
        font-size: 30px;
        margin-top: -44px;
    }
    .header__top{
        font-size: 20px;
        line-height: 24px;
    }
    .header__phone::before{
        width: 25px;
        height: 25px;
        background-size: cover;
    }
    .our-trip__slider{
        padding-top: 150px;
    }
    .hotel__inner{
        display: block;
    }
    .hotel__content{
        margin-top: 20px;
    }
    .hotel__gallery{
        justify-content: space-around;
        margin-top: 0px;
    }
    .hotel__images{
        height: 50%;
    }
    .contacts__date,
    .contacts__price{
        font-size: 90px;
    }
    .contacts__date span,
    .contacts__price span{
        font-size: 22px;
        margin-left: 150px;
    }
    .contacts__form-title{
        font-size: 20px;
    }
    .contacts__inner{
        display: block;
    }
    .contacts__form-input{
        width: 40%;
    }
    .contacts__form-title{
        margin-bottom: 20px;
    }
    .contacts__images{
        width: 400px;
        height: 490px;
        display: block;
        margin: auto; 
        margin-top: 10px;
    }
    .contacts__form-input{
        display: block;
        margin: 20px auto;
        justify-content: space-around;
    }
    .footer__text {
        font-size: 50px;
    }
    .footer__contacts {
        width: 300px;
        height: 445px;
    }
    .footer__text{
        display: block;
        margin: calc(-50%) auto;
    }
    .footer__contacts-title{
        margin-bottom: 0;
    }
}

@media  (max-width: 710px){
    .our-trip__container{
        position: static;
    }
    .our-trip__slider{
        width: 100%;
    }
    .our-trip__btn{
        margin: 20px 0;
    }
    .footer__inner{
        display: block;
    }
    .footer__text{
        width: 100%;
        height: 100%;
        margin: auto 0;
    }
}

@media  (max-width: 600px){
    .header__top{
        justify-content: center;
        flex-wrap: wrap;
    }
    .menu{
        width: 100%;
        text-align: center;
        margin: 0 0 25px;
    }
    .header__title{
        font-size: 80px;
        line-height: 120px;
    }
    .header__title span{
        font-size: 22px;
        margin-top: -46px;
        margin-right: 15px;
    }
    .fairy-tail__item img{
        height: 50vh;
        width: 100%;
        object-fit: cover;
    }
    .page-section{
        margin: 50px 0;
    }
    .title{
        margin-bottom: 25px;
        font-size: 60px;
        line-height: 110px;
    }
    .fairy-tail__title span{
        margin-left: 110px;
    }
    .our-trip__title span{
        margin-left: 150px;
    }
    .our-trip__slider {
        padding-top: 0px;
    }
    .our-trip__slider-item img{
        height: 80vh;
        width: 100%;
        object-fit: cover;
    }
    .our-trip__list{
        font-size: 20px;
        margin-left: 20px;
    }
    .hotel__title span{
        margin-left: 100px;
    }
    .hotel__images{
        height: 100vh;
    }
    .hotel__title span{
        margin-left: 70px;
    }
    .price__title span{
        margin-left: 70px;
    }
    .price__inner{
        display: block;
    }
    .price__off-title{
        margin-top: 30px;
    }
    .price__on,
    .price__off{
        font-size: 15px;
        width: 100%;
    }
    .price__on-title,
    .price__off-title{
        margin-bottom: 25px;
        font-size: 20px;
    }
}

@media  (max-width: 590px){
    .hotel__gallery{
        display: block;
        text-align: center;
    }
    .hotel__text{
        font-size: 15px;
    }
    .hotel__images{
        width: 100%;
    }
    .hotel__images{
        height: 50%;
    }
    .our-trip__slider{
        width: 100%;
    }
    .price{
        background-image: none;
    }
    .contacts__form-input{
        width: 60%;
    }
} 

@media  (max-width: 370px){
    .header__title{
        font-size: 60px;
        line-height: 100px;
    }
    .header__title span{
        font-size: 18px;
        margin-right: 0px;
    }
    .menu__list-item + .menu__list-item{
        margin-left: 18px;
    }
    .title{
        font-size: 50px;
    }
    .title span{
        font-size: 20px;
    }
    .fairy-tail__title span{
        margin-left: 90px;
    }
    .our-trip__slider-item img{
        height: 60vh;
    }
    .our-trip__title span{
        margin-left: 125px;
    }
    .our-trip__list{
        font-size: 18px;
    }
    .our-trip__btn{
        margin: 10px 25%;
    }
    .hotel__title span{
        margin-left: 60px;
    }
    .hotel__images{
        height: 50%;
    }
    .price__title span{
        margin-left: 60px;
    }
    .price__off,
    .price__on{
        font-size: 13px;
    }
    .contacts__images{
        width: 250px;
        height: 400px;
    }
    .footer__text {
        font-size: 45px;
    }  
    .footer__contacts-title{
        font-size: 75px;
    }
}

@media  (max-width: 370px){
    .footer__text{
        font-size: 40px;
    }
} */